#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
}

#btnContainer{
    text-align: center;
}

.butttons{
    padding: 10px 20px;
    font-size: 1.6em;
    color: white;
    background-color: hsl(240, 56%, 44%);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.butttons:hover{
    background-color: blue;
}